@page "/Dashboard"
@using Astrow.Shared.DTO
@inject IAPICallers.IStudentCaller studentcaller
@*@inject StudentDTO student*@
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject IModalService model

<center>
    <h1>Student Dashboard</h1>
    <h3>Welcome @unilogin</h3>
</center>
<button class="btn btn-primary">Register Arrived or Left</button>
<button @onclick="@(()=>model.Show<RegisterSick>("Register Sick Modal"))" class="btn btn-primary">Register Sick</button>

@code {
    public string unilogin { get; set; }
    public string sickReason { get; set; }
    public LoginDTO login { get; set; }
    protected override async Task OnInitializedAsync()
    {
        await SetUnilogin();
    }
    public async Task SetUnilogin()
    {
        login = await sessionStorage.GetItemAsync<LoginDTO>("User");

    }
    //public async Task RegisterSick(StudentDTO student)
    //{
    //    var response = studentcaller.RegisterStudentSick(student);
    //}
}
