@page "/"


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astrow</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="css/Index.css"/>
</head>
<body>

    <div class="jumbotron">
        <h1 class="display-4">Welcome to Astrow</h1>
        <p class="lead">Empowering education, one step at a time.</p>
        <a href="/LoginTeachers" class="btn btn-primary btn-get-started">Login for Teachers</a>
        <a href="/LoginStudents" class="btn btn-primary btn-get-started">Login for Students</a>
    </div>

</body>
</html>



