@page "/RegisterSick"

<PageTitle>Register sick</PageTitle>

<h1>Register Sick</h1>
<label>Reason</label>
<input type="text" @bind-value="sickReason">
<button class="btn btn-primary" @onclick="RegisterStudentSick">send</button>

@code {
    public string sickReason { get; set; }

    public async Task RegisterStudentSick()
    {

    }
}
