@page "/teachersite"
@using Astrow.Shared.DTO
@using Astrow.Client.IAPICallers;

<h3>Teacher Site</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in students)
        {
            <tr>

                <td>@student.Unilogin</td>
                <td>@student.FirstName + @student.LastName</td>
                <td>
                    <button class="btn btn-danger" @onclick="() => DeleteStudent(student.Unilogin)">Delete</button>
                    <button class="btn btn-primary" @onclick="() => UpdateStudent(student.Unilogin)">Update</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<StudentDTO> students = new List<StudentDTO>();
    private readonly IAPICallers.IStudentCaller _caller; 
    protected override async Task OnInitializedAsync()
    {
        List<StudentDTO> student = new();
        var tempstudents = await _caller.GetAllStudents();
        foreach(var tempstudent in tempstudents)
        {
            students.Add(tempstudent);
        }
    }
    public async Task<List<StudentDTO>> GetAllStudents()
    {
        try
        {
            var student = await _caller.GetAllStudents();
            foreach(var tempstudent in student)
            {
                students.Add(tempstudent);
            }
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
        return students;
    }

    public void DeleteStudent(string unilogin)
    {

    }
    public void UpdateStudent(string unilogin)
    {

    }
}
