@page "/teachersite"
@using Astrow.Shared.DTO
@inject Astrow.Client.IAPICallers.IStudentCaller studentcaller

<h3>Teacher Site</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Unilogin</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in students)
        {
            <tr>

                <td>@student.Unilogin</td>
                <td>@student.FirstName + @student.LastName</td>
                <td>
                    <button class="btn btn-danger" @onclick="() => DeleteStudent(student)">Delete</button>
                    <button class="btn btn-primary" @onclick="() => UpdateStudent(student.Unilogin)">Update</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<StudentDTO> students = new();
    protected override async Task OnInitializedAsync()
    {
        await InitializeGetStudentList();
    }
    protected async Task InitializeGetStudentList()
    {
        students = await studentcaller.GetAllStudents();
    }

    public async Task DeleteStudent(StudentDTO unilogin)
    {
        var temp = studentcaller.DeleteStudent(unilogin);
    }
    public void UpdateStudent(string unilogin)
    {

    }
}
